body{
   background-color: #fff1e6;
}
input{
  border-radius: 50;
}


 li{
   color: rgb(78, 78, 170);
}

div > h2{
   color : red;
}
.card{
   background-color: aqua;
   padding: 10px;
   border-radius: 10px;
   display: flex ;
   gap: 20px;
   width: 400px;
}
 .card .card-txt > p{
   color: red;

   
 }
 .container{
   display: flex;
   gap: 10px;
 }